<<<<<<< HEAD
div.center-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: white;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
}
.center-box img{
    height: 50px;
    width: 50px;
}
ul li{
    display: inline-block;
    color: white;
    margin-right: 15px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;

=======
div.center-box{
    outline: 1px dotted red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: white;
}
ul li{
    display: inline-block;
    color: white;
    margin-right: 15px;
}
ul li a{
    color: white;
    text-decoration: none;  

>>>>>>> 4c9bfc4a0b2d95b69206bd97947890dc8392ae64
}