div.center-box{
    outline: 1px dotted red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: white;
}
ul li{
    display: inline-block;
    color: white;
    margin-right: 15px;
}
ul li a{
    color: white;
    text-decoration: none;  

}